<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
    <ion-img src="../../assets/icon/contacto.png" class="center"></ion-img>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-button type="submit" color="secondary" (click) = "obtenerPosicion()" > Donde estoy</ion-button>
    </form>
</ion-content>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2VyZ2lvLTEwIiwiYSI6ImNrMjJlNWQ3eDBnbnQzb3FsYnF1NnRpYTAifQ.WYRO8xGfHoqhwMirsJar4w';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script>
