<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Tipo Ruta</ion-label>
        <ion-select placeholder="Seleccionar" name="acti" >
          <ion-select-option value="S">Senderismo</ion-select-option>
          <ion-select-option value="A">Alpinismo</ion-select-option>
        </ion-select>
      </ion-item> 

    <ion-img src="../../assets/icon/google.png" class="center"></ion-img>

    <ion-button class="ion-align-items-center" type="subimit" expand="large" color ="primary">Iniciar Ruta</ion-button> 
   


</ion-content>
