<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

    <ion-tab-bar  slot="buttom" color ="primary">

  <ion-tab-button tab = "cuenta">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Cuenta</ion-label>

    </ion-tab-button >
    <ion-tab-button tab="configuracion">
        <ion-icon name="flower"></ion-icon>
    <ion-label>Configuración</ion-label>

    </ion-tab-button >
  <ion-tab-button tab="contacto">
      <ion-icon name="person-add"></ion-icon>
  <ion-label>Contacto</ion-label>

</ion-tab-button >
<ion-tab-button tab="registro">
    <ion-icon name="clipboard"></ion-icon>
<ion-label>Registro</ion-label>
    
  </ion-tab-button>
  
  </ion-tab-bar>
  </ion-tabs>
